<footer class="footer border-top">
    <div class="f-socials">
        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
        <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
        <a href=""><i class="fa-brands fa-square-instagram"></i></a>
    </div>
    <div class="f-company">
        &copy; Wanderlust Private Ltd.
    </div>
    <div class="f-options">
        <a href="/privacy">Privacy</a>&nbsp; &middot;&nbsp; <a href="/terms">Terms</a>
    </div>
</footer>