<% layout("/layouts/boilerplate") %>

    <body>
        <div class="err404">
            <i class="fa-regular fa-face-sad-tear"></i>
            <p class="err404-message">Oops! It looks like you're lost.</p>
            <p class="err404-message2">The page you're looking for doesn't exist
</p>
        </div>

    </body>